name: Publish to pub.dev
on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"
jobs:
  publish:
    environment: "pub.dev"
    permissions:
      id-token: write # This is required for authentication using OIDC
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v3
      - uses: dart-lang/setup-dart@v1
      - uses: subosito/flutter-action@v2
        with:
          channel: "stable"
      - name: Install dependencies
        run: flutter pub get
      - name: Run tests
        run: flutter test

      - name: Publish
        run: flutter pub publish --force